{% include "autogen-warning.j2" %}


FROM {{ base_image }}

ENV LANG {{ locale }}
ENV LC_ALL {{ locale }}

# install all system dependencies
RUN \
    {% for command in commands.preinstall %}
    {% if loop.first %}
    # Run preinstall commands (setup repositories, update caches and such)
    {% endif %}
    {{ command }} {%+ if not loop.last %}&& {% endif %}\
    {% if loop.last %}
    && \
    {% endif %}
    {% endfor %}
    # Install dependencies
    {{ commands.package_install }} \
        {% for key, deps in dependencies.items() %}
        # {{ key }} dependencies
        {{ deps | sort | join(" \\\n        ") }} \
        {% endfor %}
    && \
    # install python dependencies
    # Force the ARCHI to be a generic x86_64 CPU. This is needed because of
    # PyRoaring, which compiles otherwise with '-march=native', which creates
    # problems when the builder has more features than hosts on which the
    # docker image is run afterwards.
    # Related to https://gitlab.com/BuildStream/buildstream-docker-images/issues/46
    ARCHI=x86-64 {{ commands.pip }} install \
        {{ python_dependencies | sort | join(" \\\n        ") }} \
    && \
    {% for command in commands.postinstall %}
    {% if loop.first %}
    # Run postinstall commands (setup build environment)
    {% endif %}
    {{ command }} {%+ if not loop.last %}&& {% endif %}\
    {% if loop.last %}
    && \
    {% endif %}
    {% endfor %}
    {% for command in commands.build_grpc %}
    {% if loop.first %}
    # Build protobuf and gRPC
    {% endif %}
    {{ command }} && \
    {% endfor %}
    {% for command in commands.build_buildbox %}
    {% if loop.first %}
    # Build BuildBox
    {% endif %}
    {{ command }} && \
    {% endfor %}
    {% if user is defined %}
    # User setup
    useradd -Um {{ user }} && \
    {% endif %}
    {% for command in commands.cleanup %}
    {% if loop.first %}
    # Cleanup afterwards
    {% endif %}
    {{ command }}
    {%- if not loop.last %} && \
    {% endif %}
    {% endfor %}

{% if entrypoint is defined %}

COPY {{ entrypoint }} /entrypoint.sh
ENTRYPOINT ["/entrypoint.sh"]
{% endif %}
{% if user is defined %}

USER {{ user }}
WORKDIR /home/{{ user }}
{% endif %}
